article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }


			/*font-family: 'Raleway', sans-serif;;*/

			/* GLOBAL settings */


			*{
/*				border: 1px solid #000;
*/				/*new box model*/
				-webkit-box-sizing:border-box;
				-moz-box-sizing:border-box;
				box-sizing:border-box;
			}

				.color-1{background-color:#ffffff;} /*Pink*/

				.left{float: left}
				.right{float: right}

			body{
				/*background-color: rgba(128, 0, 12, 0.5); */
				margin:0px;
				padding: 0px;
				min-width: 320px;
	
				background-color: #e7dfdd;
			}
			#container {
				width: 100%;
				/*max-width:1200px;*/
				
				min-width:320px;
				min-height:500px;
				margin: 0px auto;
				padding: 0px;
				z-index: 1;
				text-align: center; 
			}
			.inset{
				width:90%;
				margin: 0px auto;
				padding:10px;
				position: relative;
				background-color: transparent;
			}

			p { font-size: 12px;} 

			header{
				position: relative;
				height: 193px;
				padding: 141px 0 0;
				border-bottom: 1px solid rgba(0,0,0,.15);
				color: #000000;	
			}
			header h1{
				display: none
			}
			header h2{
				
			}
			.logo{
				background-image: url(culture.png);
				background-repeat: no-repeat;
				background-position: top;
				background-position-x: 50%;
				background-position-y: 1%;
			}
			nav{
				border-top: 1px solid rgba(0,0,0,.15);

			}
			nav a{
				color: #000;
				display:inline-block;
				font-size: 14px;
				line-height: 47px;
				text-decoration: none;
				padding: 0 12px 0 24px;
				position: relative;
				font-family: 'futura', sans-serif;
				font-weight: 500;
				letter-spacing: 1px;	
			}

			nav a:hover {
				background-color: #dadada;
			}
			nav a.selected {
				background-color: #351216;
			}
			#topbar{
				background: #000;
				padding: 0 0 0 0;
				height: 38px;
				position: fixed;
				top: 0;
				left: 0;
				z-index: 100;
				font-family: 'Lato', sans-serif;
				color: #e1e1e1;
				font-size: 12px;
				/*line-height: 28px;*/
			}
			#topbar .left{
				letter-spacing: 1px;
			}
			.fullwidth{ 
				text-align: center; 
				width: 100%;
			}
			#logo{position:relative; display: block; width: 167px; height: 142px; margin: 0 auto;}

			section{
				padding:0px;
				margin: 0px;
				background-color: transparent;
				min-height: 1000px;
	/*			background-image: url(_images/land.jpg);
				background-attachment: scroll;
				background-position: left top;
				background-repeat:no-repeat;*/	
				border-bottom: 5px solid #000000;		}
			h1{
				font-size:25px;
				font-family: 'Raleway', sans-serif;
				font-weight: 500; 
			}

			h2{
				font-family: 'Raleway', sans-serif;
				margin: 0 auto;
			}
			h2 i{
				font-family: 'Playfair Display'; 
				font-style: italic;
				font-weight: 400;
				font-size: 57px;
			}
			.small-title{
				font-family: 'Oswald', sans-serif;
				font-weight: 700;
				letter-spacing: 1px;
				border-bottom: 2px solid #000;
				text-align: center;
				display: inline-block;
			}
			#content{
				width:100%; 
				float:left; 
				padding:35px 0; 
				min-height: 300px;}

			article p{
				font-family: 'Lato', sans-serif;
				font-weight: 400;
				font-size: 12px;
				letter-spacing: 2px;
				text-transform: uppercase;
				padding-top: 18px;
			}
			article b{
				font-family: 'Lato', sans-serif;
				font-weight: 900;
			}

			article .sassy{
				margin-bottom: 20px;
				text-align: center;
				min-height: 340px;
				border-bottom: 1px solid rgba(0, 0, 0, 0.15);
			}


			footer{padding:0px; margin:0px; background-color: #fff;}

			/*slideshow */

			.slides {
				margin:79px auto;
				position: relative;
				height: 364px;
				width: auto;

			}
			.slides img {
				position: absolute;
				left:0px;
				top:0px;
				width: 100%;
				
				overflow: hidden;

			}

			/* gallery */

			section h2{
				text-transform: uppercase;
				font-weight: 900;
				font-size: 50px;
				line-height: 67px;
			}

			 #cultures{
			 	padding-top: 50px;
			 }



			#cultures img{
				text-align:center;
				border: 5px solid #000000;
			/*	-moz-box-shadow:5px 5px 25px 0px #000;
				-webkit-box-shadow:5px 5px 25px 0px #000;
				box-shadow:5px 5px 25px 0px #000;*/
			}


			body.page-gallery #cultures {
				text-align:center;
			}
			a.call2action {
				display:inline; 
				display:block; 
				display:inline-block;
				text-decoration:none;
				position:relative;
				margin:25px;
			}

			a.call2action img {
				height: 290px;
				width: 270px;
			}
			a.call2action:hover img {
				opacity:1;
			}

			a.call2action h1 {
				margin:0px;
				background-color: #000000;
				background-color: rgba(0,0,0,.5);
				/*opacity:.5;*/
				color:#ededed;
				font-size: 16px;
			 	letter-spacing:2px;
				text-align:center;
				padding:13px;

				position:absolute;
				bottom:2px;
				left:0px;

				width:270px;
				font-weight: 700;
				text-transform: uppercase;
				font-family: 'Raleway', sans-serif;
			}

			#explore{
				margin-top: 70px;
			}

			#explore h2{
				padding:  30px;
			}



			#explore img{
				height: 120px;
				width: auto;
				overflow: hidden;

				text-align:center;
				border: 5px solid #000000;
				margin: 30px;}

			#about  {
				margin-top: 40px;
				min-height: 800px;
			}

			#about article {
				margin-top: 100px;
				margin: auto;
				width: 700px;

			}

			#about h1 {
				 line-height: 40px;
				 color: #000;
				 background-color: #fff;
				 padding: 100px;
				 letter-spacing: 1px;
				 border: 5px solid #000000;	}
			 
			 #about h2 {

			 	margin-bottom: 100px;}

		 	#contact li{
		 		text-decoration: none;

		 	}

		 	input{
		 		margin: 4px;
		 		text-align: center;
		 	}






			/*Media Queries*/
          @media screen and (max-width:700px) {
				body { background-color: #f6f6f6; }
			}
			@media screen and (max-width:500px) {
				body { 
					background-color: #f6f6f6;
				 }
				#container{
					/*min-height:300px;*/
				}
			}      

		